name: Terraform Azure Workflow

on:
  push:
    branches:
      - main  # Déclenche le workflow sur un push vers la branche 'main'
  pull_request:
    branches:
      - main  # Déclenche le workflow lors de la création d'une PR vers la branche 'main'
  workflow_dispatch:  # Permet d'exécuter manuellement le workflow depuis l'interface GitHub

jobs:
  INFRAProvionning:
    runs-on: ubuntu-latest  # Utilise Ubuntu comme environnement de runner

    steps:
      # Étape 1 : Checkout du code du dépôt
      - name: Checkout code
        uses: actions/checkout@v3

      # Étape 2 : Installer Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.4.5'  # Utilise la version Terraform que tu préfère

      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Test with Checkov
        continue-on-error: true
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          # directory: example/examplea
          framework: terraform
          output_file_path: results.sarif
          output_format: sarif
          quiet: false
  
      # Upload results to GitHub Advanced Security
      - name: Upload SARIF file
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
          category: checkov
      - name: Commit & push checkov results
        if: always() # même si Checkov trouve des erreurs
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
      
          # Ajouter le fichier SARIF
          git add results.sarif
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Add Checkov scan results"
            git push origin ${{ github.ref }}
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Export ARM variables
        run: |
          echo "ARM_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }}" >> $GITHUB_ENV
          echo "ARM_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "ARM_TENANT_ID=${{ secrets.AZURE_TENANT_ID }}" >> $GITHUB_ENV
          echo "ARM_SUBSCRIPTION_ID=${{ secrets.AZURE_SUBSCRIPTION_ID }}" >> $GITHUB_ENV
          echo "ARM_SKIP_CLI_AUTH=true" >> $GITHUB_ENV
      - name: Terraform Init after scan
        run: |
          yes yes | terraform init -reconfigure \
            -backend-config="resource_group_name=${{ secrets.TF_RG }}" \
            -backend-config="storage_account_name=${{ secrets.TF_SA }}" \
            -backend-config="container_name=${{ secrets.TF_CONTAINER }}" \
            -backend-config="key=${{ secrets.TF_KEY }}"
            # Validate terraform files
        
      - name: Terraform Validate
        run: terraform validate
        
      # Étape 5 : Exécuter Terraform Plan
      - name: Terraform Plan
        run: terraform plan

      # Étape 6 : Appliquer Terraform (applique uniquement sur un push, pas lors des PR)
      - name: Terraform Apply
        if: github.event_name == 'push'  # Applique uniquement sur un push (pas lors des PR)
        run: terraform apply -auto-approve

      # -----------------------
      # Export kubeconfig
      # -----------------------
      - name: Save kubeconfig from Terraform output
        run: |
          terraform output -raw kubeconfig > kubeconfig
        shell: bash

      # Archive kubeconfig to pass to the next job
      - name: Upload kubeconfig
        uses: actions/upload-artifact@v4
        with:
          name: kubeconfig
          path: kubeconfig

      # --------------------------------------------------------------------
      # HELM DEPLOY JOB (runs AFTER AKS is deployed)
      # --------------------------------------------------------------------
  helm-deploy:
    needs: INFRAProvionning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.SECRET2 }}
      - name: Get AKS credentials
        run: |
          mkdir -p ~/.kube
          az aks get-credentials --resource-group rg-aks-mab --name aks-demo --file ~/.kube/config
      - name: Install kubectl
        uses: azure/setup-kubectl@v3
      - name: Verify cluster connection
        run: kubectl get nodes
      - name: Install Helm
        uses: azure/setup-helm@v3
      - name: Deploy Helm Chart
        run: |
          helm upgrade --install myapp ./myapp --namespace default --create-namespace
