name: Terraform Azure Workflow

on:
  push:
    branches:
      - main  # Déclenche le workflow sur un push vers la branche 'main'
  pull_request:
    branches:
      - main  # Déclenche le workflow lors de la création d'une PR vers la branche 'main'
  workflow_dispatch:  # Permet d'exécuter manuellement le workflow depuis l'interface GitHub

jobs:
  terraform:
    runs-on: ubuntu-latest  # Utilise Ubuntu comme environnement de runner

    steps:
      # Étape 1 : Checkout du code du dépôt
      - name: Checkout code
        uses: actions/checkout@v3

      # Étape 2 : Installer Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.4.5'  # Utilise la version Terraform que tu préfère
      
      - name: Debug - Try to access storage account
        run: |
          az login --service-principal \
            --username ${{ secrets.AZURE_CLIENT_ID }} \
            --password ${{ secrets.AZURE_CLIENT_SECRET }} \
            --tenant ${{ secrets.AZURE_TENANT_ID }}
      
          az storage container list \
            --account-name ${{ secrets.TF_SA }} \
            --auth-mode login || echo "ERROR"

      - name: Export ARM variables
        run: |
          echo "ARM_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }}" >> $GITHUB_ENV
          echo "ARM_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "ARM_TENANT_ID=${{ secrets.AZURE_TENANT_ID }}" >> $GITHUB_ENV
          echo "ARM_SUBSCRIPTION_ID=${{ secrets.AZURE_SUBSCRIPTION_ID }}" >> $GITHUB_ENV
          echo "ARM_SKIP_CLI_AUTH=true" >> $GITHUB_ENV

      - name: Terraform Init
        run: |
          yes yes | terraform init -reconfigure \
            -backend-config="resource_group_name=${{ secrets.TF_RG }}" \
            -backend-config="storage_account_name=${{ secrets.TF_SA }}" \
            -backend-config="container_name=${{ secrets.TF_CONTAINER }}" \
            -backend-config="key=${{ secrets.TF_KEY }}"
      # Étape 5 : Exécuter Terraform Plan
      - name: Terraform Plan
        run: terraform plan

      # Étape 6 : Appliquer Terraform (applique uniquement sur un push, pas lors des PR)
      - name: Terraform Apply
        if: github.event_name == 'push'  # Applique uniquement sur un push (pas lors des PR)
        run: terraform apply -auto-approve
